.qz-article-top .article-top {
    text-align: center;
    font-size: 180%;
    color: #480017;
    padding-top: 3%;
}

.qz-article-top .article-info {
    text-align: center;
    margin-top: 5%;
}

.article-info .qz-mark {
    border-radius: 50%;
}

.qz-article-content {
    margin: 60px 40px 30px;
}

@media screen and (max-width: 768px) {
    #wordsView {
        padding: 5px;
    }
}

.qz-article-content .markdown {
    text-align: left;
    line-height: 2;
    color: rgb(51, 51, 51);
    font-family: "Microsoft YaHei", Helvetica, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Monaco, monospace, Tahoma, STXihei, 华文细黑, STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, 宋体, Heiti, 黑体, sans-serif;
}

.qz-session-content .qz-art {
    border-radius: 3%;
    background: rgba(255, 250, 240, 0.5);
    box-shadow: 0px 0px 10px 0.5px #aaa;
    margin-top: 5%;
}

.article-button {
    text-align: right;
    padding: 6% 6% 3% 0;

}

.article-btn {
    padding: 0 1%;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    line-height: 2;
    color: #fff;
    background: #f9a477;
}