<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiang.modules.sys.mapper.BlogMapper">

    <insert id="publishBlog" parameterType="BlogMessage">
      insert into blog
      values(#{id}, #{title}, #{text}, #{labelValues}, #{selectType},
              #{selectCategories}, #{selectGrade}, #{originalAuthor},
              #{message}, #{createTime}, #{likes}, #{name}, #{articleTabloid}, #{look});
    </insert>

    <update id="updBlogById" parameterType="BlogMessageVO">
        update blog
        set title = #{title}, text = #{text}, labelValues = #{labelValues}, selectType = #{selectType},
            selectCategories = #{selectCategories}, selectGrade = #{selectGrade}, originalAuthor = #{originalAuthor},
            createTime = #{createTime}, articleTabloid = #{articleTabloid}
        where id = #{id}
    </update>

</mapper>