<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiang.modules.sys.mapper.UsersMapper">

    <resultMap id="userMap" type="Users">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="phone" column="phone"/>
        <result property="sex" column="sex"/>
        <result property="password" column="password"/>
        <result property="lastTime" column="lastTime"/>
        <result property="name" column="name"/>
        <result property="roleId" column="roleId"/>
        <result property="realname" column="realname"/>
        <result property="qq" column="qq"/>
        <result property="email" column="email"/>
        <result property="intro" column="intro"/>
        <collection property="roles" ofType="Role">
            <id property="rid" column="rid"/>
            <result property="rname" column="rname"/>
            <collection property="permissionSet" ofType="Permission">
                <id property="pid" column="pid"/>
                <result property="pname" column="pname"/>
                <result property="url" column="url"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findByPhone" parameterType="String" resultMap="userMap">
      SELECT u.*, r.*, p.*
      from users u
      INNER JOIN roles r on u.roleId = r.rid
      INNER JOIN permission_role pr on pr.rid = r.rid
      INNER JOIN permission p on p.pid = pr.pid
      where u.phone = #{arg0}
    </select>

    <update id="updUserMess" parameterType="Users">
        update  users
         set realname = #{realname}, qq = #{qq}, email = #{email}, intro = #{intro}
         where username = #{username}
    </update>

    <insert id="insUsers" parameterType="Users">
        insert into
         users
          values(#{id}, #{username}, #{password}, #{phone}, #{sex}, #{lastTime}, #{roleId}, #{realname}, #{qq}, #{email}, #{intro})
    </insert>

    <select id="findLikes" parameterType="String" resultType="CommentLikes">
        select cl.*, b.title
        from comment c
        INNER JOIN commentlikes cl on c.id = cl.commentId
        INNER JOIN blog b on cl.blogId = b.id
        where c.authorName = #{arg0}
    </select>

    <update id="updLikesIsRead" parameterType="java.util.List">
        update commentlikes c
        set c.isRead = 0
        where id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <update id="updGuestIsRead" parameterType="java.util.List">
        update repguest c
        set c.risRead = 0
        where rid in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

</mapper>