<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>强子的博客~~</title>
    <link rel="stylesheet" href="assets/css/amazeui.css"/>
    <link rel="alternate icon" type="image/png" href="myPicture.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style/index.css"/>
    <link rel="stylesheet" href="layui/css/layui.css"/>
    <link rel="stylesheet" href="style/archive.css"/>
    <script src="layui/layui.js"></script>
</head>
<body>

<div th:replace="header :: header"></div>

<!--主体-->
<div class="layui-row layui-col-space25 qz-session">
    <div class="layui-col-md9 qz-main">
        <div class="layui-row grid-demo layui-col-space15">
            <div class="layui-col-md4">
                <div th:replace="left :: left"></div>
            </div>
            <div class="layui-col-md8 qz-center">
                <div class="qz-session-content">
                    <div class="qz-center">
                        <div class="qz-center-list">
                            <div class="container-before-icon"><span class="am-icon-star am-icon-lg"></span>
                                目前总计 7 篇日志。 (゜-゜)つロ 干杯
                            </div>
                            <div class="qz-container layui-row">
                                <div class="layui-col-md12">
                                    <div class="qz-time">
                                        <dl>
                                            <dt>2019</dt>
                                            <dd class="qz-right qz-dt-div">
                                                <div class="circ"></div>
                                                <div class="time">5月28日</div>
                                                <div class="qz-event">
                                                    <div class="events-header">为了成为更好的自己</div>
                                                    <div class="events-header-span">
                                                        <span class="am-icon-calendar">
                                                            <a>2019-7-7</a>
                                                        </span>
                                                        <span class="am-icon-folder qz-flie">
                                                            <a>心情窗口</a>
                                                        </span>
                                                        <br>
                                                        <span class="am-icon-tags qz-flie qz-file">
                                                            <a>Java</a>
                                                            ,
                                                            <a>后端</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dd class="qz-left qz-dt-div">
                                                <div class="circ"></div>
                                                <div class="time">5月28日</div>
                                                <div class="qz-event">
                                                    <div class="events-header">为了成为更好的自己</div>
                                                    <div class="events-header-span">
                                                        <span class="am-icon-calendar">
                                                            <a>2019-7-7</a>
                                                        </span>
                                                        <span class="am-icon-folder qz-flie">
                                                            <a>心情窗口</a>
                                                        </span>
                                                        <br>
                                                        <span class="am-icon-tags qz-flie qz-file">
                                                            <a>Java</a>
                                                            ,
                                                            <a>后端</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dd class="qz-right qz-dt-div">
                                                <div class="circ"></div>
                                                <div class="time">5月28日</div>
                                                <div class="qz-event">
                                                    <div class="events-header">为了成为更好的自己</div>
                                                    <div class="events-header-span">
                                                        <span class="am-icon-calendar">
                                                            <a>2019-7-7</a>
                                                        </span>
                                                        <span class="am-icon-folder qz-flie">
                                                            <a>心情窗口</a>
                                                        </span>
                                                        <br>
                                                        <span class="am-icon-tags qz-flie qz-file">
                                                            <a>Java</a>
                                                            ,
                                                            <a>后端</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dd class="qz-left qz-dt-div">
                                                <div class="circ"></div>
                                                <div class="time">5月28日</div>
                                                <div class="qz-event">
                                                    <div class="events-header">为了成为更好的自己</div>
                                                    <div class="events-header-span">
                                                        <span class="am-icon-calendar">
                                                            <a>2019-7-7</a>
                                                        </span>
                                                        <span class="am-icon-folder qz-flie">
                                                            <a>心情窗口</a>
                                                        </span>
                                                        <br>
                                                        <span class="am-icon-tags qz-flie qz-file">
                                                            <a>Java</a>
                                                            ,
                                                            <a>后端</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <br><br><br><br><br><br><br><br><br><br>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-col-md3">
        <div th:replace="aside :: aside"></div>
    </div>


</div>
</div>


<!--底部-->
<div th:replace="footer :: footer"></div>

</body>

<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="style/js/archive.js"></script>
<script src="assets/js/amazeui.js"></script>
<script src="style/js/tags.js"></script>
</html>